{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Your Project Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'expenses/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'expenses:expense-home' %}">Expense List</a></li>
                {% else %}
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'users:register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="content">
        {% block content %}
        <!-- Content for child templates will go here -->
        {% endblock %}
    </div>

    <footer>
        <!-- Footer content -->
    </footer>
</body>
</html>
